<div>
  <button type="button" ng-hide="showAddEditUser" ng-click="show()">
    Novo usuário
  </button>

<br><br>







  <form name="theForm" novalidate  ng-submit="saveUser(user)" ng-hide="!showAddEditUser">
    <div>


      <label>Nome</label>
      <input type="text" placeholder="Name" ng-model="user.name"required  >



    </div>

    <div ng-class="{'has-error': theForm.email$touched && (theForm.email.$error.required) , 'has-success':theForm.pemail.$valid}">
      <label>Email</label>
      <input type="email" placeholder="Email" ng-model="user.email" required name="email">
        <span ng-show="theForm.email.$touched && theForm.email.$error.required" class="label label-danger">Ex: nome@gmail.com</span>
    </div>

    <div ng-class="{'has-error': theForm.password.$touched && (theForm.password.$error.required || theForm.password.$error.minlength) , 'has-success':theForm.password.$valid}">
      <label>Senha</label>

      <input    type="password" placeholder="Password" ng-model="user.password"  name="password"
      class="form-control"  required ng-minlength=4 maxlength="4" >

      <span ng-show="theForm.password.$touched && theForm.password.$error.required" class="label label-danger">Ex: ****</span>
      <span ng-show="theForm.password.$touched && theForm.password.$error.minlength" class="label label-danger">
        *Apenas  4 Dígitos Ex: **** faltam {{4- theForm.password.$viewValue.length}}</span>



    </div>

    <div>
      <label>Permissões</label>
      <div ng-repeat="permission in permissions">
        <input id="{{permission.role}}" type="checkbox" checklist-model="user.permissions" checklist-value="permission">
        <label for="{{permission.role}}">{{permission.role | formatPermission}}</label>
      </div>
    </div>

    <button type="submit">Salvar</button>
    <button type="button" ng-click="hide()">Cancelar</button>
  </form>

  <div>
    <br/><h3>Usuários</h3>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Permissões</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>
            <div ng-repeat="permission in user.permissions">{{ permission.role | formatPermission}}</div>
          </td>
          <td><button ng-click="editUser(user)">Editar</button></td>
          <td><button ng-click="deleteUser(user)">Deletar</button></td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
